@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --primary-color: hsl(47, 88%, 63%);
 --neutral-color-white: hsl(0, 0%, 100%);
 --neutral-color-grey: hsl(0, 0%, 50%);
 --neutral-color-black: hsl(0, 0%, 7%);
}

body{
    font-family: "Figtree","sans-serif";
    font-size: 16px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-color-white);
    margin: auto 20px;
    padding: 20px auto;
    border-radius: 30px;
    box-shadow: 7px 7px var(--neutral-color-black);
    max-width: 300px;
    margin-top: 100px;
}

.container:hover, 
.container:active,
.container.visited{
    box-shadow: 15px 15px var(--neutral-color-black);

}

.container img{
    padding: 20px;
    border-radius: 30px;
}

.content{
    background-color: var(--neutral-color-white);
    border-radius: 30px;
    padding: 20px;
    padding-top:0;
    
    
}
.tag{
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-weight: 800;
    font-size: .75rem;
    padding:10px 20px;
    margin: auto;
}

.date-para{
    font-size: .75rem;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 5px;
}


.heading-blog-link{
    color: var(--neutral-color-black);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.heading-blog-link:hover, 
.heading-blog-link:active{
    color: var(--primary-color);
    text-decoration: none;
}

.content-text{
    color: var(--neutral-color-grey);
    font-size: 0.9rem;
    padding-bottom: 10px;
}


picture{
   display: flex;
   position: relative;
}

picture img{
}

picture label{
  font-weight: 900;
  position: absolute;
  top: 30px;
  left: 80px;
}

footer{
    margin-top: 50px;
}